<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="css/articles.css"/>
<div id="wrapper">
  
  <!-- /nav -->
  <div id="content">
      <div id="latest">
        <h3>Articles</h3>
        <div class="spost">
        <% articles.forEach(function(article) { %>
    <h2><a href="#"><%= article.title %></a></h2>
        <img src=<%= article.image_url %> alt="" width="150" height="105" border="0" />
        <p><%= article.content.substring(0, 100) + " ..."%> <a href="/articles/<%= article._id %>">Read More</a></p>
           <% }) %>
        </div>
        
        
      <!-- /latest -->
    </div>
    
  </div>
  <!-- /content -->
</div>
<div class="sidebar">
    <h3></h3>
</div>
<%- include("partials/footer") %>
