<%- include('./partials/header'); -%>
<h1 style="padding-top: 100px; margin-left: 20px;"><%= title %></h1>
<img style="padding-top: 20px; margin-left: 10px; margin-bottom: 20px;" src=<%= image %> />
<p style="margin-bottom: 190px; margin-left: 20px;"><%=  text %></p>
<%- include('./partials/footer'); -%>
