<%- include('./partials/header'); -%>
<link rel="stylesheet" type="text/css" href="/css/article.css"/>
<div id="article">
  <h1><%= title %></h1>
  <h4>Author: <%= author %></h5>
  <h5>Date: <%= date %></h5>
  <img src=<%= image %> />
  <p><%= text %></p>
  <h2><a href="<%= articleId %>/comments">View comments</a></h2>
</div>
<%- include('./partials/footer'); -%>
