<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/css/articles.css"/>
<div id="sections">
<div id="wrapper">
  
  <!-- /nav -->
  <div id="content">
      <div id="latest">
        <h3>Articles</h3>
        <div class="spost">
        <% for (var i = 0; i < articles.length; i++) { %>
    <h2><a href="/articles/<%= articles[i]._id %>"><%= articles[i].title %></a></h2>
        <a href="/articles/<%= articles[i]._id %>">
            <img src=<%= articles[i].image_url %> alt="" width="150" height="105" border="0" />
        </a>
            <p><%= articles[i].content.substring(0, 100) + " ..."%> <a href="/articles/<%= articles[i]._id %>">Read More</a></p>
           <% } %>
        </div>
        
            <% if (pages > 0) { %>
                <ul class="pagination">
                    <% var i = Number(current)%>
                    <% if ((i - 1) >= 1) { %>
                      <li><a href="/articles/page/<%= i-1 %>">Prev</a></li>
                    <% } else { %>
                        <li class="disabled"><a>Prev</a></li>
                    <% } %>
                    <% if ((i + 1) <= pages) { %>
                      <li><a href="/articles/page/<%= i+1 %>">Next</a></li>
                    <% } else { %>
                        <li class="disabled"><a>Next</a></li>
                    <% } %>
                </ul>
            <% } %>
        
      <!-- /latest -->
    </div>
    
  </div>
  </div>
  <!-- /content -->
<div class="sidebar switch">
    <h3>Past games</h3>
    <div id="columns">
      <div id="players">
        <h4>Games</h4>
        <hr>
        <p>GM Carlsen, Magnus (2876) </p>
        <p>GM Kuzubov, Yuriy (2636)</p>
        <hr>
        <p>GM Aronian, Levon (2758)</p>
        <p>GM Carlsen, Magnus (2876)</p>
        <hr>
        <p>GM Nakamura, Hikaru (2745)</p>
        <p>GM Bachmann, Axel (2629)</p>
        <hr>
        <p>GM Kasparov, Sergey (2451)</p>
        <p>GM Haznedaroglu, Kivanc (2472)</p>
        <hr>
        <p>GM Kasparov, Sergey (2453)</p>
        <p>GM Neverov, Valeriy (2488)</p>
        <hr>
        <p>GM Topalov, Veselin (2699)</p>
        <p>GM Karpov, Anatoly (2616)</p>
        <hr>
      </div>
      <div class="results">
        <h4>Results</h4>
        <p>1-0</p>
        <p>½-½</p>
        <p>1-0</p>
        <p>½-½</p>
        <p>0-1</p>
        <p>1-0</p>
      </div>
    </div>
</div>
</div>
<%- include("partials/footer") %>
